body {
  background: purple !important;
}

.row {
  background: green;
}

.menu {
  position: fixed;
  top: 45px;
  z-index: 1;
}

.stores, .direct-sales {
  background: yellow;
}

.stores > .row, .vehicles > .row {
  margin-bottom: 15px;
}

.direct-sales > .row {
  margin: 0px -15px;
}

.direct-sales > .row {
  background: green;
}

.stores .img,
.direct-sales .img,
.vehicles .img {
  background: red;
}

.stores .img img, .direct-sales .img img {
  width: 100%;
  height: 100%;
}

.vehicles .img img {
  width: 100%;
  height: 100%;
}

.stores .desc,
.direct-sales .desc,
.vehicles .desc {
  font-size: 4vw;
  background: grey;
  padding: 15px !important;
}

.stores .badges {
  padding: 15px !important;
}

.stores a {
  width: 100%;
}

.stores .badges > div > div {
  width: 100%;
  background: red;
  padding: 1%;
}

.stores .badges img {
  width: 100%;
}

.home .buttons {
  background: green;
}

body {
  background: red;
}

.container-fluid {
  background: teal;
}

html, body, #root, .App {
  height: 100%;
/*  display: flex;
  flex-direction: column;
*/}

.container-fluid {
  height: calc(100% - 45px);
}

.home {
  height: 100%;
}

.home .carousel {
  background: red;
  margin: 0 -15px;
  height: calc(100% - 50px);
}

.home .buttons > div > div {
  width: 100%;
  height: 50px;
  margin: 0px -15px;
  text-align: center;
  background: blue;
  font-size: 15px;
}

.home .buttons > div > div a {
  color: white;
}

.header {
  background: blue;
  height: 45px;
  color: #fff;
  display: flex;
  align-items: center;
  padding: 0px 15px;
}

.menu {
  width: 80%;
  background: green;
}

.menu ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px
}

.menu ul li {
  height: 45px;
  padding: 0px 15px;
  border-bottom: 1px solid #060;
  display: flex;
  align-items: center;
}

.menu a {
  color: #fff;
}
